In [4]:
import pandas as pd
pumpkins = pd.read_csv("../data/US-pumpkins.csv")
pumpkins.tail()

,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,Mostly Low,...,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode,Unnamed: 24,Unnamed: 25
1752,ST. LOUIS,NaN,22 lb cartons,MINIATURE,FLAT TYPE,NaN,9/30/16,14.75,14.75,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,LOWER.
1753,ST. LOUIS,NaN,36 inch bins,MINIATURE,ROUND TYPE,NaN,9/26/16,275.00,275.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,LOWER.
1754,ST. LOUIS,NaN,36 inch bins,MINIATURE,ROUND TYPE,NaN,9/27/16,275.00,275.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,STEADY.
1755,ST. LOUIS,NaN,36 inch bins,MINIATURE,ROUND TYPE,NaN,9/28/16,275.00,275.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,ABOUT STEADY.
1756,ST. LOUIS,NaN,36 inch bins,MINIATURE,ROUND TYPE,NaN,9/29/16,275.00,275.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,"MINIATURE LOWER, OTHERS STEADY."

In [5]:
pumpkins.isnull().sum()

City Name             0
Type               1712
Package               0
Variety               5
Sub Variety        1461
Grade              1757
Date                  0
Low Price             0
High Price            0
Mostly Low          103
Mostly High         103
Origin                3
Origin District    1626
Item Size           279
Color               616
Environment        1757
Unit of Sale       1595
Quality            1757
Condition          1757
Appearance         1757
Storage            1757
Crop               1757
Repack                0
Trans Mode         1757
Unnamed: 24        1757
Unnamed: 25        1654
dtype: int64

##### We're trying to predict avg price in a month.. so we just need a few selected columns and not all of them

In [7]:
columns_required = ["Package", "Low Price", "High Price", "Date"]
pumpkins = pumpkins.loc[:, columns_required]

In [8]:
price = (pumpkins["Low Price"] + pumpkins["High Price"]) / 2
month = pd.DatetimeIndex(pumpkins["Date"]).month
new_pumpkins = pd.DataFrame({"Month": month, "Package": pumpkins["Package"], "Low Price": pumpkins["Low Price"], "High Price": pumpkins["High Price"], "Price": price})

In [9]:
new_pumpkins.head()

   Month       Package  Low Price  High Price  Price
0      4  24 inch bins      270.0       280.0  275.0
1      5  24 inch bins      270.0       280.0  275.0
2      9  24 inch bins      160.0       160.0  160.0
3      9  24 inch bins      160.0       160.0  160.0
4     11  24 inch bins       90.0       100.0   95.0

In [11]:
pumpkins = pumpkins[pumpkins["Package"].str.contains("bushel")]
pumpkins.head

<bound method NDFrame.head of                    Package  Low Price  High Price     Date
70    1 1/9 bushel cartons      15.00        15.0  9/24/16
71    1 1/9 bushel cartons      18.00        18.0  9/24/16
72    1 1/9 bushel cartons      18.00        18.0  10/1/16
73    1 1/9 bushel cartons      17.00        17.0  10/1/16
74    1 1/9 bushel cartons      15.00        15.0  10/8/16
...                    ...        ...         ...      ...
1738    1/2 bushel cartons      15.00        15.0  9/30/16
1739    1/2 bushel cartons      13.75        15.0  9/30/16
1740    1/2 bushel cartons      10.75        15.0  9/30/16
1741    1/2 bushel cartons      12.00        12.0  9/30/16
1742    1/2 bushel cartons      12.00        12.0  9/30/16

[415 rows x 4 columns]>

In [12]:
new_pumpkins.loc[new_pumpkins["Package"].str.contains("1 1/9"), "Price"] = price/(1 + 1/9)
new_pumpkins.loc[new_pumpkins["Package"].str.contains("1/2"), "Price"] = price/(1/2)

In [13]:
new_pumpkins

      Month        Package  Low Price  High Price   Price
0         4   24 inch bins     270.00      280.00  275.00
1         5   24 inch bins     270.00      280.00  275.00
2         9   24 inch bins     160.00      160.00  160.00
3         9   24 inch bins     160.00      160.00  160.00
4        11   24 inch bins      90.00      100.00   95.00
...     ...            ...        ...         ...     ...
1752      9  22 lb cartons      14.75       14.75   14.75
1753      9   36 inch bins     275.00      275.00  275.00
1754      9   36 inch bins     275.00      275.00  275.00
1755      9   36 inch bins     275.00      275.00  275.00
1756      9   36 inch bins     275.00      275.00  275.00

[1757 rows x 5 columns]